<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>APA MoneyPool</title>
        
    </head>
    <link rel= "stylesheet" href= "{{ url_for('static', filename='css/styles.css') }}">

    <body>
        <h1>APA MoneyPool</h1>
        <form action="/results">
            
            <label for="teamId">Select a Team:</label>
            
            <select name="teamId" id="teamId">
                
                {% for team in teams %}
                    <option value="{{team.get('teamId')}}">{{team.get('teamName')}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>