<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>APA MoneyPool</title>
        
    </head>
    <link rel= "stylesheet" href= "{{ url_for('static', filename='css/styles.css') }}">

    <body>
        <h1>APA MoneyPool</h1>
        <form action="/results">
            <input type="text" name="teamName" id="teamName" placeholder="Enter a team name" />
            <button type="submit">Enter</button>
        </form>
    </body>
</html>