<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APA MoneyPool</title>

</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content label {
        display: block;
        margin-top: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<script>
    // JavaScript to handle the dropdown behavior and collect selected values
    document.addEventListener('click', function (event) {
        var dropdown = document.querySelector('.dropdown-content');
        if (!dropdown.contains(event.target)) {
            dropdown.style.display = 'none';
        }
    });

    function getSelectedFruits() {
        var checkboxes = document.querySelectorAll('.dropdown-content input[type="checkbox"]');
        var selectedFruits = [];
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedFruits.push(checkbox.value);
            }
        });
        return selectedFruits;
    }

    // Example usage
    document.querySelector('.dropdown button').addEventListener('click', function () {
        console.log(getSelectedFruits());
    });
</script>


<body>
    <a href="/home1">
        <h1>APA MoneyPool</h1>
    </a>

    <a href="/division?sessionId={{division.getSession().getSessionId()}}&divisionId={{division.getDivisionId()}}">
        <h2>{{division.getDivisionName()}}</h2>
    </a>
    <form action="/matchups">
        <input type="hidden" name="teamId1" id="teamId1" value="{{team1.getTeamId()}}">
        <input type="hidden" name="teamId2" id="teamId2" value="{{team2.getTeamId()}}">
        <input type="hidden" name="sessionId" id="sessionId" value="{{division.getSession().getSessionId()}}">
        <input type="hidden" name="divisionId" id="divisionId" value="{{division.getDivisionId()}}">

        <label for="putupMemberId">If {{team1.getTeamName()}} puts up first, leave this blank. Who is
            {{team2.getTeamName()}}
            putting up?</label>

        <select name="putupMemberId" id="putupMemberId">
            <option disabled selected value> -- Select a player -- </option>
            {% for player in team2.getPlayers() %}
            <option value="{{player.getMemberId()}}">{{player.getPlayerName()}}
            </option>
            {% endfor %}
        </select>
        <br>
        <label for="matchNumber">
            Which match is this?
        </label>

        <select name="matchNumber" id="matchNumber">
            {% for matchNumber in range(5) %}
            <option value="{{matchNumber}}">{{matchNumber + 1}}</option>
            {% endfor %}
        </select>
        <h2>{{team1.getTeamName()}}</h2>
        {% for player in team1.getPlayers() %}
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}
            [{{player.getCurrentSkillLevel()}}]</label>
        <div class="dropdown">
            <button>Match Unavailability</button>
            <div class="dropdown-content">
                {% for matchNumber in range(5) %}
                <label><input type="checkbox" name="teamMatchCriteria"
                        value="{{player.getMemberId()}}-{{matchNumber}}">Match {{matchNumber +
                    1}}</label>
                {% endfor %}
            </div>
        </div>
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}-double-play"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}-double-play" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}-double-play">Might double play?</label>
        <br>
        {% endfor %}
        <br>
        <h2>{{team2.getTeamName()}}</h2>
        {% for player in team2.getPlayers() %}
        <input type="checkbox" id="{{team2.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team2.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team2.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}
            [{{player.getCurrentSkillLevel()}}]</label>

        <div class="dropdown">
            <button>Match Unavailability</button>
            <div class="dropdown-content">
                {% for matchNumber in range(5) %}
                <label><input type="checkbox" name="teamMatchCriteria"
                        value="{{player.getMemberId()}}-{{matchNumber}}">Match {{matchNumber +
                    1}}</label>
                {% endfor %}
            </div>
        </div>
        <input type="checkbox" id="{{team2.getTeamId()}}-{{player.getMemberId()}}-double-play"
            name="{{team2.getTeamId()}}-{{player.getMemberId()}}-double-play" value="">
        <label for="{{team2.getTeamId()}}-{{player.getMemberId()}}-double-play">Might double play?</label>

        <br>
        {% endfor %}
        <button type="submit">Get Best Matchups</button>
    </form>
</body>

</html>