<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APA MoneyPool</title>

</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<body>
    <h1>APA MoneyPool</h1>
    <h3>Who to put up:</h3>
    <form action="/matchups">

        <h4>Opponent's put-up</h4>
        {% for player in team2.getPlayers() %}
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}</label><br>
        {% endfor %}
        <h4>Opponent's other players</h4>
        {% for player in team2.getPlayers() %}
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}</label><br>
        {% endfor %}
        <h4>Your players</h4>
        {% for player in team2.getPlayers() %}
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <form action="/matchups">
        <input type="hidden" name="teamId1" id="teamId1" value="{{team1.getTeamId()}}">
        <input type="hidden" name="teamId2" id="teamId2" value="{{team2.getTeamId()}}">
        <h2>{{team1.getTeamName()}}</h2>
        {% for player in team1.getPlayers() %}
        <input type="checkbox" id="{{team1.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team1.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team1.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}</label><br>
        {% endfor %}
        <br>
        <h2>{{team2.getTeamName()}}</h2>
        {% for player in team2.getPlayers() %}
        <input type="checkbox" id="{{team2.getTeamId()}}-{{player.getMemberId()}}"
            name="{{team2.getTeamId()}}-{{player.getMemberId()}}" value="">
        <label for="{{team2.getTeamId()}}-{{player.getMemberId()}}"> {{player.getPlayerName()}}</label><br>
        {% endfor %}
        <button type="submit">Get Best Matchups</button>
    </form>
</body>

</html>